* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.word_spacing {
  line-height: 120%;
  font-size: 14px;
}

.header div {
  width: 95%;
  margin: auto;
  padding: 30px;
}
.container {
  padding: 0 30px;
  width: 95%;
  margin: auto;
}

.home_container {
  display: flex;
}

.search_gif_container {
  width: 70%;
}

.liked_container {
  width: 30%;
}

.search_input {
  padding: 10px;
  font-size: 15px;
  height: 40px;
  width: 250px;
}

.submit_btn {
  height: 40px;
  padding: 10px;
  width: 100px;
  border: 2px solid dodgerblue;
  color: dodgerblue;
  font-size: 15px;
}

.slider_container {
  margin: auto;
}

.btn {
  padding: 5px;
  border: 2px solid dodgerblue;
  cursor: pointer;
  transition-duration: 0.4s;
}

.btn:hover {
  opacity: .5;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: white;
}
